<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}">
</head>
<body>
<div id="login-box">
    <h1>Login</h1>
    <form th:action="@{/login/executeLogin}" method="post">
        <div class="form">
            <div class="item">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input id="username" name="username" type="text" placeholder="Username">
            </div>
            <div class="item">
                <i class="fa fa-key" aria-hidden="true"></i>
                <input id="password" name="password" type="password" placeholder="Password">
            </div>
        </div>
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>