<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
    <resultMap id="BaseResultMap" type="User">
        <!--@mbg.generated generated on Fri Oct 30 00:52:50 CST 2020.-->
        <!--@Table study_user-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_name" jdbcType="VARCHAR" property="createName"/>
        <result column="create_id" jdbcType="BIGINT" property="createId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_name" jdbcType="VARCHAR" property="updateName"/>
        <result column="update_id" jdbcType="BIGINT" property="updateId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="lock_version" jdbcType="INTEGER" property="lockVersion"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="email_address" jdbcType="VARCHAR" property="emailAddress"/>
        <result column="user_type" jdbcType="VARCHAR" property="userType"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated generated on Fri Oct 30 00:52:50 CST 2020.-->
        id, create_name, create_id, create_time, update_name, update_id, update_time, lock_version,
        user_name, telephone, login_name, email_address, user_type, `password`, salt, `status`,
        description
    </sql>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated generated on Fri Oct 30 00:52:50 CST 2020.-->
        update study_user
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="create_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.createName,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="create_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.createId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="update_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.updateName,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="update_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.updateId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="lock_version = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.lockVersion,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="user_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.userName,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="telephone = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.telephone,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="login_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.loginName,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="email_address = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.emailAddress,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="user_type = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.userType,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="`password` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.password,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="salt = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.salt,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="`status` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="description = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.description,jdbcType=VARCHAR}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    <update id="updateBatchSelective" parameterType="java.util.List">
        <!--@mbg.generated generated on Fri Oct 30 00:52:50 CST 2020.-->
        update study_user
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="create_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.createName != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.createName,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.createId != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.createId,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.createTime != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.updateName != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.updateName,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.updateId != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.updateId,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.updateTime != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="lock_version = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.lockVersion != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.lockVersion,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="user_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.userName != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.userName,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="telephone = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.telephone != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.telephone,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="login_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.loginName != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.loginName,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="email_address = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.emailAddress != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.emailAddress,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="user_type = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.userType != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.userType,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="`password` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.password != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.password,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="salt = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.salt != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.salt,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="`status` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.status != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="description = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.description != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.description,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated generated on Fri Oct 30 00:52:50 CST 2020.-->
        insert into study_user
                (create_name, create_id, create_time, update_name, update_id, update_time, lock_version,
                 user_name, telephone, login_name, email_address, user_type, `password`, salt, `status`,
                 description)
                values
        <foreach collection="list" item="item" separator=",">
            (#{item.createName,jdbcType=VARCHAR}, #{item.createId,jdbcType=BIGINT},
             #{item.createTime,jdbcType=TIMESTAMP},
             #{item.updateName,jdbcType=VARCHAR}, #{item.updateId,jdbcType=BIGINT},
             #{item.updateTime,jdbcType=TIMESTAMP},
             #{item.lockVersion,jdbcType=INTEGER}, #{item.userName,jdbcType=VARCHAR},
             #{item.telephone,jdbcType=VARCHAR},
             #{item.loginName,jdbcType=VARCHAR}, #{item.emailAddress,jdbcType=VARCHAR},
             #{item.userType,jdbcType=VARCHAR},
             #{item.password,jdbcType=VARCHAR}, #{item.salt,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR},
             #{item.description,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="User"
            useGeneratedKeys="true">
        <!--@mbg.generated generated on Fri Oct 30 00:52:50 CST 2020.-->
        insert into study_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            create_name,
            create_id,
            create_time,
            update_name,
            update_id,
            update_time,
            lock_version,
            user_name,
            telephone,
            login_name,
            email_address,
            user_type,
            `password`,
            salt,
            `status`,
            description,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            #{createName,jdbcType=VARCHAR},
            #{createId,jdbcType=BIGINT},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateName,jdbcType=VARCHAR},
            #{updateId,jdbcType=BIGINT},
            #{updateTime,jdbcType=TIMESTAMP},
            #{lockVersion,jdbcType=INTEGER},
            #{userName,jdbcType=VARCHAR},
            #{telephone,jdbcType=VARCHAR},
            #{loginName,jdbcType=VARCHAR},
            #{emailAddress,jdbcType=VARCHAR},
            #{userType,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR},
            #{salt,jdbcType=VARCHAR},
            #{status,jdbcType=VARCHAR},
            #{description,jdbcType=VARCHAR},
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            create_name   = #{createName,jdbcType=VARCHAR},
            create_id     = #{createId,jdbcType=BIGINT},
            create_time   = #{createTime,jdbcType=TIMESTAMP},
            update_name   = #{updateName,jdbcType=VARCHAR},
            update_id     = #{updateId,jdbcType=BIGINT},
            update_time   = #{updateTime,jdbcType=TIMESTAMP},
            lock_version  = #{lockVersion,jdbcType=INTEGER},
            user_name     = #{userName,jdbcType=VARCHAR},
            telephone     = #{telephone,jdbcType=VARCHAR},
            login_name    = #{loginName,jdbcType=VARCHAR},
            email_address = #{emailAddress,jdbcType=VARCHAR},
            user_type     = #{userType,jdbcType=VARCHAR},
            `password`    = #{password,jdbcType=VARCHAR},
            salt          = #{salt,jdbcType=VARCHAR},
            `status`      = #{status,jdbcType=VARCHAR},
            description   = #{description,jdbcType=VARCHAR},
        </trim>
    </insert>
    <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id"
            parameterType="User" useGeneratedKeys="true">
        <!--@mbg.generated generated on Fri Oct 30 00:52:50 CST 2020.-->
        insert into study_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createName != null and createName != ''">
                create_name,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateName != null and updateName != ''">
                update_name,
            </if>
            <if test="updateId != null">
                update_id,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="lockVersion != null">
                lock_version,
            </if>
            <if test="userName != null and userName != ''">
                user_name,
            </if>
            <if test="telephone != null and telephone != ''">
                telephone,
            </if>
            <if test="loginName != null and loginName != ''">
                login_name,
            </if>
            <if test="emailAddress != null and emailAddress != ''">
                email_address,
            </if>
            <if test="userType != null and userType != ''">
                user_type,
            </if>
            <if test="password != null and password != ''">
                `password`,
            </if>
            <if test="salt != null and salt != ''">
                salt,
            </if>
            <if test="status != null ">
                `status`,
            </if>
            <if test="description != null and description != ''">
                description,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="createName != null and createName != ''">
                #{createName,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateName != null and updateName != ''">
                #{updateName,jdbcType=VARCHAR},
            </if>
            <if test="updateId != null">
                #{updateId,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lockVersion != null">
                #{lockVersion,jdbcType=INTEGER},
            </if>
            <if test="userName != null and userName != ''">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null and telephone != ''">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null and loginName != ''">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="emailAddress != null and emailAddress != ''">
                #{emailAddress,jdbcType=VARCHAR},
            </if>
            <if test="userType != null and userType != ''">
                #{userType,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null and salt != ''">
                #{salt,jdbcType=VARCHAR},
            </if>
            <if test="status != null ">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="description != null and description != ''">
                #{description,jdbcType=VARCHAR},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="createName != null and createName != ''">
                create_name = #{createName,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateName != null and updateName != ''">
                update_name = #{updateName,jdbcType=VARCHAR},
            </if>
            <if test="updateId != null">
                update_id = #{updateId,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lockVersion != null">
                lock_version = #{lockVersion,jdbcType=INTEGER},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null and telephone != ''">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null and loginName != ''">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="emailAddress != null and emailAddress != ''">
                email_address = #{emailAddress,jdbcType=VARCHAR},
            </if>
            <if test="userType != null and userType != ''">
                user_type = #{userType,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null and salt != ''">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="status != null ">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="description != null and description != ''">
                description = #{description,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2020-11-01-->
    <select id="findByLoginName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from study_user
        where login_name = #{loginName,jdbcType=VARCHAR}
    </select>

    <select id="findRolesByLoginName" resultType="java.lang.String">
        select r.role_name
        from study_role r
                     left join study_user_role_relation urr on r.id = urr.role_id
                     left join study_user u on urr.user_id = u.id
        where u.login_name = #{loginName}
    </select>

    <select id="findPermissionsByLoginName" resultType="java.lang.String">
        select p.permission_code
        from study_permission p
                     left join study_role_permission_relation rpr on p.id = rpr.permission_id
                     left join study_role r on rpr.role_id = r.id
                     left join study_user_role_relation urr on r.id = urr.role_id
                     left join study_user u on urr.user_id = u.id
        where u.login_name = #{loginName}
    </select>
</mapper>